 
    body {
      font-family: 'Inter', sans-serif;
      background-color: #f8f9fa;
    }
    .navbar {
      background-color: #00796B;
    }
    .navbar-brand, .nav-link, footer {
      color: white !important;
    }
    .hero {
	background: url('backgroundimage.jpg') no-repeat center center/cover;
	height: 60vh;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 382px;
}
    .hero h1 {
      font-size: 3rem;
      background-color: rgba(0, 121, 107, 0.7);
      padding: 1rem;
      border-radius: 10px;
    }
    .product-card img {
      height: 180px;
      object-fit: cover;
    }
    .whatsapp {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: #25D366;
      color: white;
      padding: 12px 18px;
      border-radius: 30px;
      text-decoration: none;
      font-weight: bold;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      z-index: 999;
    }
    footer {
      background: #00796B;
      padding: 1rem;
      text-align: center;
      color: white;
    }

   img {
	height: 108px;
	width: 191px;
}

.navbar-brand {
	font-size: 44px;
	padding-left: 322px;

}
